DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=corvant_testing
DB_USERNAME=corvant
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379

CORVANT_PASSWORD_MIN_LENGTH=8
CORVANT_SESSION_TTL_SECONDS=3600
